<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index_NotLogged" class="logo d-flex align-items-center">
          <span>Mascotmercio</span>
        </a>
        <p>
          ¡Bienvenido a Mascotmercio! Somos una plataforma dedicada a promover la convivencia entre mascotas y
          humanos en establecimientos de todo tipo. ¡Únete a nuestra comunidad hoy mismo!
        </p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Enlaces Útiles</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Términos de Servicio</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Nuestros Servicios</h4>
        <ul>
          <li><a href="#">Diseño Web</a></li>
          <li><a href="#">Desarrollo Web</a></li>
          <li><a href="#">Gestión de Productos</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Diseño Gráfico</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contacto</h4>
        <p>
          Avenida Principal #123 <br />
          Ciudad Mascota, MC 123456<br />
          País de las Mascotas <br /><br />
          <strong>Teléfono:</strong> +34 678 45 33 01<br />
          <strong>Correo Electrónico:</strong> info@mascotmercio.com<br />
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Derechos de Autor <strong><span>Mascotmercio</span></strong
      >. Todos los Derechos Reservados
    </div>
  </div>
</footer>
